<h1>Mia Infinite Scroll Service</h1>
<mia-infinite-scroll-service [service]="testService" [query]="queryScroll"></mia-infinite-scroll-service>

<h1>Mia Table Angular</h1>
<mia-edit-columns [config]="tableConfig" [miaTable]="tableComp">
    <button>Edit Columns</button>
</mia-edit-columns>
<mia-table #tableComp [config]="tableConfig" [mockData]="mockData"></mia-table>

<h1>Mia Table Editable</h1>
<mia-table-editable #tableEditable [config]="tableEditableConfig" [dataItems]="tableDataEditable"></mia-table-editable>
<button (click)="onClickSave()">Save All</button>